<!DOCTYPE html>
<html>
<head>
	#parse("common/common.vm")
	#macro(isShow $dBizId $bizId)
		#if($!dBizId == $!bizId) style="display:block;" #else style="display:none;" #end	
	#end
    <meta charset="utf-8" />
    <title>后台管理系统</title>
##    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
##    <link rel="stylesheet" type="text/css" href="$!staticServer/css/base.css" />
##    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
##    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
##    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.min.js"></script>
##    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
##    <script type="text/javascript" src="$!staticServer/js/index.js"></script>
##	-------------------------------------------------------------------------------
	<link rel="stylesheet" type="text/css" href="/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="/css/base.css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
	<script type="text/javascript" src="/js/jquery-1.7.2.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
</head>
<body>
    <div class="warp">
        <!--头部开始-->
        <div class="top_c" #if(!$!isProduct) style="background:url($!staticServer/img/logo.png) no-repeat #586683;" #end>
        	<div class="time-nav" id="time"></div>
            <div class="top-nav">您好，欢迎您，$!{userInfo.userName}！&nbsp;&nbsp; #if($!userInfo.isDownStreamUser()) 账户余额 : <font color='red' > $!acctInfo.balanceDesc </font> 元   #end <a href="loginOut.do">安全退出</a></div>
        </div>
        <!--头部结束-->
        <!--左边菜单开始-->
        <div class="left_c left">
            <h1>操作菜单</h1>
            <div class="acc">
				#if($!hasFlowAuth)
                <div>
                    <a class="one">联通流量包</a>
                    <ul class="kid" #isShow($!defaultBizId,'100')>
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderIndex.do?bizId=100">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=100">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=100">慢充处理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=100">商品管理</a></li>		
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=100">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=100">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=100">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasTelecomFlowAuth)
                <div>
                    <a class="one">电信流量包</a>
                    <ul class="kid" #isShow($!defaultBizId,'101')>
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderIndex.do?bizId=101">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=101">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=101">慢充处理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=101">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=101">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=101">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=101">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasMobileFlowAuth)
                <div>
                    <a class="one">移动流量包</a>
                    <ul class="kid" #isShow($!defaultBizId,'102')>
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderIndex.do?bizId=102">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=102">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=102">慢充处理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=102">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=102">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=102">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=102">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasUnicomAyncAuth)
                <div>
                    <a class="one">联通话费直充</a>
                    <ul class="kid" #isShow($!defaultBizId,'200')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=200">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=200">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=200">慢充处理</a></li>
							<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=200">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=200">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=200">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=200">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasMobileAuth)
                <div>
                    <a class="one">移动话费直充</a>
                    <ul class="kid" #isShow($!defaultBizId,'201')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=201">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=201">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=201">慢充处理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=201">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=201">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=201">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=201">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end	
				#if($!hasTelecomAuth)
                <div>
                    <a class="one">电信话费直充</a>
                    <ul class="kid" #isShow($!defaultBizId,'202')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=202">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=202">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyBatch.do?bizId=202">慢充处理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=202">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=202">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=202">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=202">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasSmsAuth)
                <div>
                    <a class="one">短信管理</a>
                    <ul class="kid" #isShow($!defaultBizId,'600')>
                    	<li><b class="tip"></b><a target="Conframe" href="sms/manualSend.do?type=getText">发送短信</a></li>
                        <li><b class="tip"></b><a target="Conframe" href="biz/querySmsOrder.do?bizId=600">订单查询</a></li>
                        <li><b class="tip"></b><a target="Conframe" href="biz/querySmsNotify.do?bizId=600">接收查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/querySmsSupply.do?bizId=600">供货单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=600">商品管理</a></li>		
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=600">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=600">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=600">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasQbAuth)
                <div>
                    <a class="one">Q币充值</a>
                    <ul class="kid" #isShow($!defaultBizId,'400')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=400">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=400">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=400">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=400">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=400">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=400">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasVoucherAuth)
                <div>
                    <a class="one">卡券兑换</a>
                    <ul class="kid" #isShow($!defaultBizId,'300')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=300">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=300">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=300">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=300">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=300">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=300">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasCnpcAuth)
                <div>
                    <a class="one">中石油卡</a>
                    <ul class="kid" #isShow($!defaultBizId,'301')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=301">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=301">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=301">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=301">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=301">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=301">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasSinopecAuth)
                <div>
                    <a class="one">中石化卡</a>
                    <ul class="kid" #isShow($!defaultBizId,'302')>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrder.do?bizId=302">订单查询</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderIndex.do?bizId=302">供货单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItem.do?bizId=302">商品管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryItemSupply.do?bizId=302">供货商品管理</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="biz/queryBizOrderExport.do?bizId=302">订单下载</a></li>
						#if($!userInfo.isAdminOrPartner())
						<li><b class="tip"></b><a target="Conframe" href="biz/querySupplyOrderExport.do?bizId=302">供货单下载</a></li>
						#end
                    </ul>
                </div>
				#end
				#if($!hasManualAuth && $!userInfo.isAdmin())
                <div>
                    <a class="one">手动充值</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="charge/manualDeal.do?type=getFile">文件导入</a></li>
						<li><b class="tip"></b><a target="Conframe" href="charge/manualDeal.do?type=getText">手动输入</a></li>
						<li><b class="tip"></b><a target="Conframe" href="charge/manualDeal.do?type=queryList">充值查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasFlowAuth)
                <div>
                    <a class="one">联通流量卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=100&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=100">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=100">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasTelecomFlowAuth)
                <div>
                    <a class="one">电信流量卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=101&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=101">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=101">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasMobileFlowAuth)
                <div>
                    <a class="one">移动流量卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=102&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=102">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=102">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasUnicomAyncAuth)
                <div>
                    <a class="one">联通话费卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=200&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=200">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=200">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasMobileAuth)
                <div>
                    <a class="one">移动话费卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=201&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=201">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=201">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasTelecomAuth)
                <div>
                    <a class="one">电信话费卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=202&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=202">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=202">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStockAuth && $!hasVoucherAuth)
                <div>
                    <a class="one">卡券卡库</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryStockLog.do?bizId=300&requestType=index">库存日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/inStock.do?bizId=300">入库</a></li>
						<li><b class="tip"></b><a target="Conframe" href="biz/queryStockIndex.do?bizId=300">库存详情查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasPriceAuth)
                <div>
                    <a class="one">价格管理</a>
                    <ul class="kid" style="display:none">
                        <li><b class="tip"></b><a target="Conframe" href="biz/queryItemPrice.do?requestType=index">商品价格查询</a></li>
                    </ul>
                </div>
				#end
				#if($!hasMoneyAuth)
                <div>
                    <a class="one">资金管理</a>
                    <ul class="kid" style="display:none">
						#if(!$!userInfo.isDownStreamUser())
					    <li><b class="tip"></b><a target="Conframe" href="funds/queryChargeOrder.do?requestType=index">账户入账查询</a></li>
					    <li><b class="tip"></b><a target="Conframe" href="funds/queryCashOrder.do?requestType=index">提现单查询</a></li>
                        <li><b class="tip"></b><a target="Conframe" href="funds/queryPayOrder.do">支付单查询</a></li>
						#end
                        <li><b class="tip"></b><a target="Conframe" href="funds/queryRefundOrder.do">退款单查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="funds/queryAcctLog.do">账户资金流水查询</a></li>
                        <li><b class="tip"></b><a target="Conframe" href="funds/queryRefundOrderExport.do">退款单下载</a></li>
						<li><b class="tip"></b><a target="Conframe" href="funds/queryAcctLogExport.do">账户资金流水下载</a></li>
                    </ul>
                </div>
				#end
				#if($!hasUserAuth)
                <div>
                    <a class="one">用户管理</a>
                    <ul class="kid" style="display:none">
						#if(!$!userInfo.isDownStreamUser())
						<li><b class="tip"></b><a target="Conframe" href="user/queryUserInfo.do">用户查询</a></li>	
						<li><b class="tip"></b><a target="Conframe" href="user/userInfoAdd.do">新增用户</a></li>
						<li><b class="tip"></b><a target="Conframe" href="user/queryUpStreamInfo.do?type=3">上游查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="user/queryDownStreamInfo.do?type=2">下游查询</a></li>
						#end
						<li><b class="tip"></b><a target="Conframe" href="user/userInfoShow.do?id=$!userInfo.id">个人信息查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="user/userModifyPwd.do">个人密码修改</a></li>
                    </ul>
                </div>
				#end
				#if($!hasSystemOperationAuth)
                <div>
                    <a class="one">系统管理</a>
                    <ul class="kid" style="display:none">
						<li><b class="tip"></b><a target="Conframe" href="system/queryOperationLog.do">操作日志查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="system/queryTask.do">定时任务查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="system/queryOperationInfo.do">操作信息管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="system/queryRoleInfo.do">角色管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="system/queryUserRoleRelation.do">用户角色查询</a></li>	
						<li><b class="tip"></b><a target="Conframe" href="crawl/httpDeal.do?requestType=list">爬网管理</a></li>
						<li><b class="tip"></b><a target="Conframe" href="system/gotoTarget.do?requestType=list">定期维护</a></li>
                    </ul>
                </div>
				#end
				#if($!hasStatisticAuth)
                <div>
                    <a class="one">交易管理</a>
                    <ul class="kid" style="display:none">
						<li><b class="tip"></b><a target="Conframe" href="statistic/queryAllBizOrder.do">订单统计查询</a></li>
						<li><b class="tip"></b><a target="Conframe" href="statistic/queryAllSupplyOrder.do">供货单统计查询</a></li>
                    </ul>
                </div>
				#end
            </div>
        </div>
        <!--左边菜单结束-->
        <!--右边框架开始-->
        <div class="right_c">
            <div class="nav-tip" onclick="javascript:void(0)">&nbsp;</div>
        </div>
        <div class="Conframe">
            <iframe name="Conframe" id="Conframe" #if($!defaultBizId) src="biz/queryBizOrder.do?bizId=$!defaultBizId"  #end>
			</iframe>
        </div>
        <!--右边框架结束-->

        <!--底部开始-->
        <div class="bottom_c"></div>
        <!--底部结束-->
    </div>
    <script type="text/javascript">
		window.setInterval('showTime()', 1000)
		function showTime() {
			var enabled = 0;
			today = new Date();
			var day;
			var date;
			if (today.getDay() == 0)
				day = "星期日"
			if (today.getDay() == 1)
				day = "星期一"
			if (today.getDay() == 2)
				day = "星期二"
			if (today.getDay() == 3)
				day = "星期三"
			if (today.getDay() == 4)
				day = "星期四"
			if (today.getDay() == 5)
				day = "星期五"
			if (today.getDay() == 6)
				day = "星期六"
			date = (today.getMonth() + 1) + "月" + today.getDate() + "日    "
					+ day + " " + today.getHours() + ":" + today.getMinutes()
					+ ":" + today.getSeconds();
			document.getElementById("time").innerHTML = date;
		}
	</script>
</body>
</html>
