<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>鼎驰科技</title>
	#parse("common/common.vm")
	#parse("common/errorUtils.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>用户管理<b class="tip"></b>开始爬网</div>
    <form id="crawlLoginForm" action="httpDeal.do?requestType=login" method="post" onsubmit="return submitLogin();">
    <table class="table table-striped table-bordered table-condensed">
    	<input type="hidden" id="area" name="area" value="3">
    	<input type="hidden" id="pos" name="pos" value="$!crawlLogin.pos">
		<tr>
			<td align="right">用户名：</td>
			<td><input type="text" id="user" name="user" value="$!crawlLogin.user"></td>
		</tr>
		<tr>
			<td align="right">密码：</td>
			<td><input type="password" id="pwd" name="pwd" value="$!crawlLogin.pwd"></td>
		</tr>
		<tr>
			<td align="right">短信验证码：</td>
			<td><input type="text" id="msg" name="msg"><input type="button" id="sendMsg" onclick="javascript:submitMsg();" value="点击获取"/></td>
		</tr>
    	<tr>
			<td>&nbsp;</td>
          	<td>
          		<input class="btn btn-inverse" type="submit" value="开始"/>
				<input class="btn btn-inverse" type="button" onclick="javascript:history.go(-1)" value="返回"/>
			</td>
		</tr>
	</table>
	</form>
	<script type="text/javascript">
		function submitMsg(){
			var pos = $("#pos").val();
			if(pos.length == 0){
                alert("读取pos是空");
                return false;
            }
            var user = $("#user").val();
            if(user.length == 0){
                alert("用户名是空");
                return false;
            }
			var pwd = $("#pwd").val();
            if(pwd.length == 0){
                alert("密码是空");
                return false;
            }
            
			document.getElementById("sendMsg").disabled=true;
			htmlobj=$.ajax({url:"httpDeal.do?requestType=message",data:$("#crawlLoginForm").serialize(),async:false});
			var response = JSON.parse(htmlobj.responseText);
			if(response.status == "success" && response.module){
				alert("发送成功");
			}else{
				alert(response.errorMsg);
			}
		}
		
		function submitLogin(){
			var pos = $("#pos").val();
			if(pos.length == 0){
                alert("读取pos是空");
                return false;
            }
            var user = $("#user").val();
            if(user.length == 0){
                alert("用户名是空");
                return false;
            }
			var pwd = $("#pwd").val();
            if(pwd.length == 0){
                alert("密码是空");
                return false;
            }
            var msg = $("#msg").val();
            if(msg.length == 0){
                alert("短信验证码是空");
                return false;
            }            
			return true;
		}
	</script>
</body>
</html>