<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/select.vm")
	#parse("common/pagination.vm")
	#parse("common/common.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	<script type="text/javascript" src="$!staticServer/js/jquery.cookie.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>交易管理<b class="tip"></b>订单统计查询</div>
	<form id="bizOrderQueryForm" action="queryAllBizOrder.do" method="post" onsubmit="return submitCheck();" >
        <div style="font-size: 20px; padding: 4px 6px 15px;">
			<span>
				<strong>订单统计:</strong>
				处理中  <font>$!bizOrderStatisic.chargingCount</font>    
				异常   <font color=red >$!bizOrderStatisic.exceptionCount</font>  
				未确认   <font color=red >$!bizOrderStatisic.unComfirmCount</font>
		     	失败  <font  color=red>$!bizOrderStatisic.failedCount</font>  
				成功  <font color=green >$!bizOrderStatisic.successCount</font>  
			</span>
		</div>
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr><td colspan="8" class="auto-style2">&nbsp;请填写查询条件 </td></tr>
            </thead>
            <tbody>
				<tr>
                    <td>订单号</td>
                    <td class="detail"><input id="formid"  name="id" value="$!bizOrderQuery.id" /></td>
                    <td>业务类型</td>
                    <td class="detail">#select($!bizList,'bizId',$!bizOrderQuery.bizId)</td>
                    <td>商品编号</td>
                    <td class="td_detail"><input class="input-small" name="itemId" value="$!bizOrderQuery.itemId" /></td>
					<td>运营商</td>
                    <td class="detail">#select($!carrierTypeList,'carrierType',$!bizOrderQuery.carrierType)</td>
                </tr>
                <tr>
                    <td>订单日期 </td>
                    <td>
                        <div class="input-append">
							<input class="input-small doubledate" readonly="readonly" size="10" type="text" name="startGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!bizOrderQuery.startGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>至<input id="endtime" class="input-small doubledate" readonly="readonly" type="text" name="endGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!bizOrderQuery.endGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </td>
                    <td>订单状态 </td>
                    <td>#select($!statusList,'status',$!bizOrderQuery.status)</td>
					<td>支付单号</td>
                    <td colspan="3"><input id="formtype" name="payOrderId" value="$!bizOrderQuery.payOrderId" /></td>
                </tr>
                <tr>
					<td>下游流水号</td>
                    <td><input id="formtype" name="downstreamSerialno" value="$!bizOrderQuery.downstreamSerialno" /></td>
                    <td>客户手机号</td>
                    <td><input class="input-small" id="formtype" name="itemUid" value="$!bizOrderQuery.itemUid" /></td>
                    <td colspan="4"></td>
                </tr>
				#if($!userInfo.isAdmin())
				<tr>
                    <td>充值时长</td>
                    <td colspan="3">
						大于等于
						<input class="input-small" name="moreCostTime" value="$!bizOrderQuery.moreCostTime" />
						小于等于
						<input class="input-small" name="lessCostTime" value="$!bizOrderQuery.lessCostTime" /> 秒
                    </td>
                    <td>预回调时长</td>
                    <td colspan="3">
						大于等于
						<input class="input-small" name="moreNotifyTime" value="$!bizOrderQuery.moreNotifyTime" />
						小于等于
						<input class="input-small" name="lessNotifyTime" value="$!bizOrderQuery.lessNotifyTime" /> 秒
                    </td>
				</tr>
				<tr>
                    <td>代理商</td>
                    <td>#selectClassMedium($!downStreamUser,'userId',$!bizOrderQuery.userId)</td>
                    <td>预成功状态 </td>
                    <td>#select($!notifyStatusList,'notifyStatus',$!bizOrderQuery.notifyStatus)</td>
					<td>省域</td>
                    <td>#select($!provinceList,'provinceCode',$!bizOrderQuery.provinceCode)</td>
                    <td>处理人</td>
                    <td>#select($!operList,'dealOperId',$!bizOrderQuery.dealOperId)</td>
				</tr>
				#end
                <tr>
                    <td colspan="10" align="right">
                        <a class="btn btn-inverse" onclick="javascript:query();">查询</a>
                        <input class="btn btn-inverse" type="reset" value="清空" />
                        <a class="btn btn-inverse" onclick="javascript:fileExport()">导出</a>
						#if($!userInfo.isAdmin())
							<a class="btn btn-inverse" href="queryAllBizOrder.do?bizId=$!bizId&status=1&pageSize=30">查询处理中订单</a>
						#end 
					</td>
                </tr>
            </tbody>
         </table>

	<table class="table table-striped table-bordered table-condensed" id="list">
        <thead>
            <tr class="tr_detail">
                <td>订单号 </td>
				<td>支付单号 </td>
				<td>下游流水号 </td>
                <td>客户手机号</td>
                <td>手机区域</td>
                <td>代理商</td>
                <td>商品</td>
                <td>交易金额(元)</td>
				#if($!userInfo.isAdminOrPartner())
				<td>平台成本单价(元)</td>
				#end
                <td>交易时间 </td>
				<td>充值时长</td>
				<td>预成功时长</td>
				<td>供货数</td>
                <td>订单状态 </td>
				<td>操作</td>
				#if($!userInfo.isAdmin())
    				<td>供货摘要</td>
					<td>备注</td>
				#end
            </tr>
        </thead>
        <tbody>
			#foreach($!bizOrder in $!bizOrderList)
				<tr>
                <td>$!bizOrder.id</td>
				<td>$!bizOrder.payOrderId</td>
				<td>$!bizOrder.downstreamSerialno</td>
                <td>$!bizOrder.itemUid</td>
				<td>$!bizOrder.uidAreaInfo</td>
                <td><a href="../user/userInfoShow.do?id=$!bizOrder.userId" >$!bizOrder.userName</a></td>
                <td>$!bizOrder.itemName</td>
				#if($!userInfo.isPartner())
                <td>$!bizOrder.amountDummyDesc</td>
				#else
                <td>$!bizOrder.amountDesc</td>
				#end
				#if($!userInfo.isAdminOrPartner())
				<td>$!bizOrder.itemCostPriceDesc</td>
				#end
                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!bizOrder.gmtCreate)</td>
				<td>$!bizOrder.costTimeDesc</td>
				<td>$!bizOrder.notifyTimeDesc</td>
				<td>$!bizOrder.supplyCount</td>
                <td>
					<font #if($!bizOrder.showRed())color=red #end #if($!bizOrder.showGreen())color=green #end>
					$!bizOrder.statusDesc
					</font>
				</td>
				<td>
					#if($!userInfo.isAdmin())
						<a href="queryAllSupplyOrder.do?bizOrderId=$!bizOrder.id&bizId=$!bizOrderQuery.bizId" class="btn btn-mini btn-primary add" ">查看供货</a>
						<a href="#" onclick="javascript:window.open('../biz/bizOrderShow.do?bizId=$!bizOrder.bizId&bizOrderId=$!bizOrder.id','newwin','width=750,height=550,scrollbars=yes,top=50,left=50');" class="btn btn-mini btn-primary add" >详情</a>
						<!-- 
        					#if($!bizOrder.canDeal())
        						<a href="../biz/bizOrderDeal.do?type=refund&bizOrderId=$!bizOrder.id" class="btn btn-mini btn-danger" onclick="return confirm('是否确认退款操作')">退款</a>
        						<a href="../biz/bizOrderDeal.do?type=makeUp&bizOrderId=$!bizOrder.id" class="btn btn-mini btn-danger" onclick="return confirm('是否确认补入操作')">补入</a>
        					#end
    						#if($!bizOrder.isSupplyFromStock())
    						   <a href="../biz/queryStock.do?id=$!bizOrder.stockId&bizId=$!bizOrder.bizId" target="_blank" class="btn btn-mini btn-primary add" >查看库存</a>
    						#end
    						#if($!bizOrder.isCardForwardCharge() && $!bizOrder.canDeal())
    						  <a href="#" onclick="javascript:window.open('../biz/supplyQuery.do?type=cardCheck&stockId=$!bizOrder.stockId','newwin','width=1000,height=300,scrollbars=yes,top=50,left=50');" class="btn btn-mini btn-primary add" >校验卡密</a>
    						  <a href="#" onclick="javascript:window.open('../biz/supplyQuery.do?type=cardChargeInfoQuery&stockId=$!bizOrder.stockId','newwin','width=1000,height=300,scrollbars=yes,top=50,left=50');" class="btn btn-mini btn-primary add" >充值信息</a>
    						#end
						-->
					#end					
				</td>
				#if($!userInfo.isAdmin())
    				<td>$!bizOrder.upstreamMemo</td>
					<td>$!bizOrder.memo</td>
				#end
            </tr>
			#end
			#pagination2($!bizOrderQuery,'bizOrderQueryForm','queryAllBizOrder.do')
        </tbody>
    </table>
	</form>
	 
	<script type="text/javascript">
    	$(function(){
	    	$('.doubledate').kuiDate({
	    		className:'doubledate',
	    		isDisabled: "1"
	    	});
    	});
		
        function submitCheck(){
        	if(!checkDate()){
    			return false;
    		}
        	return true;
        }
		
        var checkDate = function(){
        	var start_date =  jQuery("input[name='startGmtCreate']").val();
        	var end_date = jQuery("input[name='endGmtCreate']").val();
        	var objDate=new Date();
        	var year = objDate.getFullYear();
        	var month = objDate.getMonth() + 1;
        	var day = objDate.getDate();
        	month = month>=10?month:'0'+month;
        	day = day>=10?day:'0'+day;
        	var date = year + "-" + month + "-" + day;
        	
        	if(!compareDate(start_date, date)){
        		alert("起始日期不能大于当前日期！");
        		return false;
        	}
        	if(!compareDate(end_date, date)){
        		alert("终止日期不能大于当前日期！");
        		return false;
        	}
        	if(!compareDate(start_date, end_date))
        	{
        		alert("起始日期不能大于终止日期!");
        		return false;
        	}
        	var  beginTime = new Date(Date.parse(start_date.replace(/-/g, "/")));
        	var  endTime = new Date(Date.parse(end_date.replace(/-/g, "/"))); 
        	var onemonthe=2*30*24*60*60*1000;
        	
        	if((endTime-beginTime)>onemonthe){
        		alert("只能查二个月之内的记录!");
        		return false;
        	}	
        	return true; 
   	 	}
    
        function compareDate(date1, date2){
        	year1 = date1.substring(0,date1.indexOf("-"));
            year2 = date2.substring(0,date2.indexOf("-"));
            month1 = date1.substring(date1.indexOf("-") + 1,date1.lastIndexOf("-"));
            month2 = date2.substring(date2.indexOf("-") + 1,date2.lastIndexOf("-"));
            day1 = date1.substring(date1.lastIndexOf("-") + 1);
            day2 = date2.substring(date2.lastIndexOf("-") + 1);
            
            if(year1 > year2){
                return false;
            } else if(year1 < year2){
            	return true;
            } else if(month1 > month2){
                return false;
            } else if(month1 < month2){
            	return true;
            } else if(day1 > day2){
                return false;
            } else if(day1 < day2){
            	return true;
            }
            return true;
        }
		
		function query(){
			jQuery('#bizOrderQueryForm').attr("action", "queryAllBizOrder.do");
			jQuery('#bizOrderQueryForm').submit();
		}
		
		function fileExport(){
			jQuery('#bizOrderQueryForm').attr("action", "../biz/bizOrderExport.do");
			jQuery('#bizOrderQueryForm').submit();
		}
    </script>
</body>
</html>
