<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>鼎驰科技</title>
	#parse("common/common.vm")
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/base.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/chur.css" />
</head>
<body>
	<div class="chur-note">
	<div class="alert alert-success" style="display: block;">
		<h4>成功提示</h4>
		<div class="context">
			<p>操作成功！</p>
		</div>
		<div class="rightbtn">
			<input type="button" class="btn btn-danger" onclick="javascript:self.location=document.referrer;" id="chur" value="返回">&nbsp;
        </div>
	</div>
	</div>
	<iframe class="alert-modal"></iframe>
</body>
</html>