<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
</head>
<body >
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>资金管理<b class="tip"></b>充值单创建</div>
	<form action="chargeOrderCreate.do">
         <table class="table table-striped table-bordered table-condensed">
			<input type="hidden" name="type" value="queryUser"/>
          <tr> 
            <td align="right">登录名：<font color="#FF0000">*</font></td>
            <td><input type="text" name="loginId" size="20" value="">
			</td>
          </tr>
          <tr>
          	<td>&nbsp;</td>
          	<td><input class="btn btn-inverse" type="submit" value="下一步" /></td>
           </tr>		
        </table>
	</form>
</body>
</html>