<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/pagination.vm")	
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>资金管理<b class="tip"></b>提现单查询</div>
	<form id="cashOrderQueryForm" action="queryCashOrder.do" method="post">
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>提现单号</td>
                    <td class="detail">
                        <input id="id" name="id" value="$!cashOrderQuery.id" />
                    </td>
                    <td>代理商名</td>
                    <td>
						#select($!downStreamUser,'userId',$!cashOrderQuery.userId)
					</td>
                </tr>
                <tr>
                    <td>创建日期 </td>
                    <td>
                        <div class="input-append">
							<input class="input-small doubledate" readonly="readonly" size="10" type="text" name="startGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!cashOrderQuery.startGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>至<input id="endtime" class="input-small doubledate" readonly="readonly" type="text" name="endGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!cashOrderQuery.endGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </td>
                    <td>提现单状态 </td>
                    <td>
						#select($!statusList,'status',$!cashOrderQuery.status)
					</td>
                </tr>
                <tr>
                    <td colspan="2" align="right">
                        <input class="btn btn-inverse" id="find" type="submit" value="查询" />
                        <input class="btn btn-inverse" type="reset" value="清空" />
						<a href="cashOrderCreate.do?type=createPre" class="btn btn-primary add" type="buttom" />申请提现</a>
						<a class="btn btn-inverse" onclick="javascript:queryAmount($!userInfo.isPartner())">合计</a>
					</td>
					<td id="respMsg" colspan="1"></td>
					<td colspan="3">
						<a id="cashAmount"></a>
					</td>
                </tr>
            </tbody>
		</table>
		<table class="table table-striped table-bordered table-condensed" id="list">
		<thead>
            <tr class="tr_detail">
                <td>提现单号 </td>
                <td>代理商号</td>
				<td>代理商名</td>			
                <td>出账金额 (元)</td>
				<td>申请人 </td>
				<td>审核人 </td>
                <td>申请时间 </td>
				<td>账户流水号 </td>
				<td>备注</td>
                <td>状态 </td>
				<td>操作</td>
            </tr>
        </thead>
        <tbody>
			#foreach($!cashOrder in $!cashOrderList)
				<tr>
                <td>$!cashOrder.id</td>
                <td><a href="../user/userInfoShow.do?id=$!cashOrder.userId" >$!cashOrder.userId</a></td>
                <td><a href="../user/userInfoShow.do?id=$!cashOrder.userId" >$!cashOrder.userName</a></td>
                <td>$!cashOrder.amountDesc</td>
				<td>$!cashOrder.operName</td>
				<td>$!cashOrder.verifyOperName</td>
                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!cashOrder.gmtCreate)</td>
				<td>$!cashOrder.acctLogId</td>
				<td><span  title="$!cashOrder.memo" style="overflow: hidden;display: block; text-overflow: ellipsis;width: 10em; white-space: nowrap;">$!cashOrder.memo</span></td>
                <td>
					<font #if($!cashOrder.showRed())color=red #end #if($!cashOrder.showGreen())color=green #end >
					$!cashOrder.statusDesc
					</font>
				</td>
				<td>
					#if($!cashOrder.canDeal())
						<a href="cashOrderDeal.do?type=pass&cashOrderId=$!cashOrder.id" class="btn btn-mini btn-danger" onclick="return confirm('是否确认审核通过')">审核通过</a>
						<a href="cashOrderDeal.do?type=cancel&cashOrderId=$!cashOrder.id" class="btn btn-mini btn-danger" onclick="return confirm('是否确认审核失败操作')">审核失败</a>
					#end
				</td>
            </tr>
			#end
			#pagination($!cashOrderQuery,'cashOrderQueryForm')
        </tbody>
    </table>
	</form>
	<script type="text/javascript">
    	$(function(){
	    	$('.doubledate').kuiDate({
	    		className:'doubledate',
	    		isDisabled: "1"
	    	});
    	});
		
        function submitCheck(){
        	if(!checkDate()){
    			return false;
    		}
        	return true;
        }
		
        var checkDate = function(){
        	var start_date =  jQuery("input[name='startGmtCreate']").val();
        	var end_date = jQuery("input[name='endGmtCreate']").val();
        	var objDate=new Date();
        	var year = objDate.getFullYear();
        	var month = objDate.getMonth() + 1;
        	var day = objDate.getDate();
        	month = month>=10?month:'0'+month;
        	day = day>=10?day:'0'+day;
        	var date = year + "-" + month + "-" + day;
        	
        	if(!compareDate(start_date, date)){
        		alert("起始日期不能大于当前日期！");
        		return false;
        	}
        	if(!compareDate(end_date, date)){
        		alert("终止日期不能大于当前日期！");
        		return false;
        	}
        	
        	if(!compareDate(start_date, end_date)){
        		alert("起始日期不能大于终止日期!");
        		return false;
        	}
        	var beginTime = new Date(Date.parse(start_date.replace(/-/g, "/")));
        	var endTime = new Date(Date.parse(end_date.replace(/-/g, "/"))); 
        	var onemonthe=2*30*24*60*60*1000;
        	
        	if((endTime-beginTime)>onemonthe){
        		alert("只能查二个月之内的记录!");
        		return false;
        	}	
        	return true; 
   	 	}
    
        function compareDate(date1, date2){
        	year1 = date1.substring(0,date1.indexOf("-"));
            year2 = date2.substring(0,date2.indexOf("-"));
            month1 = date1.substring(date1.indexOf("-") + 1,date1.lastIndexOf("-"));
            month2 = date2.substring(date2.indexOf("-") + 1,date2.lastIndexOf("-"));
            day1 = date1.substring(date1.lastIndexOf("-") + 1);
            day2 = date2.substring(date2.lastIndexOf("-") + 1);
            
            if(year1 > year2){
                return false;
            } else if(year1 < year2){
            	return true;
            } else if(month1 > month2){
                return false;
            } else if(month1 < month2){
            	return true;
            } else if(day1 > day2){
                return false;
            } else if(day1 < day2){
            	return true;
            }
            return true;
        }
        
		function queryAmount(isPartner){
			if(!checkDate()){
    			return false;
    		}
			if($("#id").val().trim().length>0){
				alert("此操作提现单号不能填写！");
				$("#cashAmount").html("");
			}else{
			 	htmlobj=$.ajax({url:"../api/queryFundsAmount.do?type=cash",data:$("#cashOrderQueryForm").serialize(),async:false});
				var response = JSON.parse(htmlobj.responseText);
				if(response.status != "success"){
					$("#respMsg").html("<font color='red'>" + response.errorMsg + "</font>");
					$("#cashAmount").html("");
				}else{
					$("#respMsg").html("合计：");
					$("#cashAmount").html("提现总计（<font color='red'>" + response.module.cashAmount + "</font>）");
				}
			}
		}
    </script>
</body>
</html>
