<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/errorUtils.vm")
	#parse("common/checkbox.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	<script type="text/javascript" src="$!staticServer/js/datepicker/WdatePicker.js"></script>
</head>
<body>
	$!errorMsg
	<div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>操作确认</div>
	<form id="form" action="$!{upDownForm.url}" method="post">
		<input type="hidden" name="requestType" value="$!{upDownForm.requestType}" />
		<input type="hidden" name="ids" value="$!{upDownForm.ids}" />
		<input type="hidden" name="bizId" value="$!{upDownForm.bizId}" />

	    <table class="table-striped table-bordered table-condensed list" style="width:100%">
	        <thead>
	            <tr>
	                <td colspan="2"> <b>$!{upDownForm.moduleName}<font color=red>$!{upDownForm.typeDesc}</font>操作确认</b></td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td width="10%">$!{upDownForm.moduleName}编号</td>
	                <td width="80%" style="table-layout:fixed;word-break:break-all;" >
								$!upDownForm.ids
					</td>
	            </tr>
				#if($!upDownForm.names)
	            <tr>
	             <td>$!{upDownForm.moduleName}名称</td>
	                <td>
						$!upDownForm.names
					</td>
	            </tr>
				#end
	            <tr>
	                <td width="100">生效时间</td>
	                <td width="">
							#select($!commitTypeList,"commitType",$!{upDownForm.commitType}) #getErrorMessage($errorList,"commitType") #getErrorMessage($errorList,"commitTime")
							<span id="commitDateDiv" class="input-append" style="display:none">
								<input class="Wdate"  type="text" name="commitTime" value="$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!upDownForm.commitTime)" onClick="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'})" />
	                        </span>						
					</td>	
	            </tr>				
	        </tbody>
	        <tfoot>
	            <tr>
	                <td colspan="2">
	                    <input class="btn btn-inverse" id="find" type="submit" value="提交" />
	                    <input class="btn btn-inverse" type="button" onclick="javascript: history.go(-1)" value="取消" /></td>
	            </tr>
	        </tfoot>
	    </table>
	</form>
	
	<script>
	jQuery(document).ready(function(){
		if(jQuery('#commitType').val()==2){
		 	jQuery("#commitDateDiv").show();
		 }
		 jQuery('#commitType').bind('change',function(){
		      if(this.value==2){
		      	jQuery("#commitDateDiv").show();
		      }else{
			    jQuery("#commitDateDiv").hide();
			  }
		});
	});
	</script>
</body>
</html>
