<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/errorUtils.vm")
	#parse("common/checkbox.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	<script type="text/javascript" src="$!staticServer/js/datepicker/WdatePicker.js"></script>
</head>
<body>
	$!errorMsg
	<div class="alert alert-info">当前位置<b class="tip"></b>$!{bizName}<b class="tip"></b>操作确认</div>
	<form id="form" action="itemPdd.do" method="post">
		<input type="hidden" name="requestType" value="$!{requestType}" />
		<input type="hidden" name="bizId" value="$!{bizId}" />
	    <table class="table-striped table-bordered table-condensed list" style="width:100%">
	        <thead>
	            <tr>
	                <td colspan="2"><b>拼多多商品<font color=red>$!{typeDesc}</font>操作确认</b></td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
					<td>
						<select class="input-small" id="provinceCode" name="provinceCode">
							<option value="all">全通道</option>
							<option value="000000">全国</option>
							#foreach($key in ${areaInfoList.keySet()})
								<option value="$key">${areaInfoList.get($key)}</option>
							#end
						</select>
						<font color=red>$!{typeDesc}</font>
					</td>
	            </tr>
	        </tbody>
	        <tfoot>
	            <tr>
	                <td colspan="2">
	                    <input class="btn btn-inverse" id="find" type="submit" value="提交" />
	                    <input class="btn btn-inverse" type="button" onclick="javascript: history.go(-1)" value="取消" />
					</td>
	            </tr>
	        </tfoot>
	    </table>
	</form>
</body>
</html>
