<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/errorUtils.vm")
	#parse("common/checkbox.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
</head>
<body>
	$!errorMsg
	<div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>商品新增</div>
	<form id="form" action="itemAdd.do" method="post">
		<input type="hidden" name="bizId" value="$!bizId" />
	    <table class=" table-striped table-bordered table-condensed list">
	        <thead>
	            <tr>
	                <td colspan="4"><b>商品基本信息</b></td>
	            </tr>
	        </thead>
	        <tbody>
	            <tr>
	                <td width="150">商品名称 <font color="#FF0000">*</font></td>
	                <td width="550">
	                   <input type="text" name="itemName" size="20" value="$!itemForm.itemName">
					   #getErrorMessage($errorList,"itemName")
					</td>
					<td width="150">商品类型 <font color="#FF0000">*</font></td>
	                <td width="550">
						#select($itemTypeList,"itemType",$!itemForm.itemType)
						#getErrorMessage($errorList,"itemType")
	                </td>	
	            </tr>
	            <tr>
	                <td width="150">面额<font color="#FF0000"> *</font></td>
	                <td width="550">
						<input id="itemFacePrice" type="text" name="itemFacePrice" size="20" value="$!itemForm.itemFacePrice">
							#getErrorMessage($errorList,"itemFacePrice")
					</td>
					<td width="150">价格一</td>
	                <td width="550">
						<input id="itemSalesPrice" type="text" name="itemSalesPrice" size="20" value="$!itemForm.itemSalesPrice">
							#getErrorMessage($errorList,"itemSalesPrice")
					</td>
	            </tr>	
	            <tr>
	                <td width="150">价格二</td>
	                <td width="550">
						<input id="itemSalesPrice2" type="text" name="itemSalesPrice2" size="20" value="$!itemForm.itemSalesPrice2">
							#getErrorMessage($errorList,"itemSalesPrice2")
					</td>	
	                <td width="150">价格三</td>
	                <td width="550">
						<input id="itemSalesPrice3" type="text" name="itemSalesPrice3" size="20" value="$!itemForm.itemSalesPrice3">
							#getErrorMessage($errorList,"itemSalesPrice3")
					</td>
	            </tr>	
	            <tr>
					<td width="150">价格四</td>
	                <td width="550">
						<input id="itemSalesPrice4" type="text" name="itemSalesPrice4" size="20" value="$!itemForm.itemSalesPrice4">
							#getErrorMessage($errorList,"itemSalesPrice4")
					</td>
					<td width="150">单买价格</td>
					<td width="550">
						<input id="itemDummyPrice" type="text" name="itemDummyPrice" size="20" value="$!itemForm.itemDummyPrice">
							#getErrorMessage($errorList,"itemDummyPrice")
					</td>
	            </tr>
	            <tr>
					<td width="150">运营商<font color="#FF0000"> *</font></td>
					<td width="550">
						#select($carrierTypeList,"carrierType",$!itemForm.carrierType)
						#getErrorMessage($errorList,"carrierType")
					</td>
					<td width="150">销售区域<font color="#FF0000"> *</font></td>
	                <td width="550">
					    #select($!salesAreaTypeList,"salesAreaType",$!itemForm.salesAreaType) #getErrorMessage($errorList,"salesAreaType")	<br />
						<div id="areaList" style="display:none">
							#checkBoxFlat("salesAreaList", $!areaInfoList,$!itemForm.salesAreaList) <br />
							#getErrorMessage($errorList,"salesAreaList")
	                    </div>
					</td>
	            </tr>
	            #if($!hasReverse)
	            <tr>
	                <td width="150">商品大小</td>
	                <td width="550">
						#select($itemSizeList,"itemSize",$!itemForm.itemSize)
						#getErrorMessage($errorList,"itemSize")
					</td>
					<td width="150">流量类型</td>
	                <td width="550">
						#selectClassMedium($itemRangeList,"itemRange",$!itemForm.itemRange)
						#getErrorMessage($errorList,"itemRange")
	                </td>	
	            </tr>
	            #end
	            <tr>
					<td>是否支持下游同步供货</td>
					<td>
						<span style="display:inline-block">
							<label><input type="checkbox" name="canSync" value="1" #if($!itemForm.canSync) checked="true" #end/></label>
	                    </span>	
					</td>
					#if($!hasCombine)
					<td width="150">拆分关联</td>
					<td width="550">
						#selectClassMedium($itemCategoryList,"itemCategoryId",$!itemForm.itemCategoryId)
						#getErrorMessage($errorList,"itemCategoryId")
					</td>
					#else
					<td colspan="2"></td>
					#end
	            </tr>
                <tr>
                    <td>代理商名</td>
                    <td>
						#selectClassMedium($!downStreamUser,"userId",$!itemForm.userId)
					</td>
	                <td>店铺编号</td>
	                <td>
	                   <input type="text" name="itemUnit" value="$!itemForm.itemUnit">
					   #getErrorMessage($errorList,"itemUnit")
					</td>
                </tr>
	            <tr>
	                <td colspan="4">注： 新增的商品默认为初始状态，要上下架请另行手动操作。   是否支持下游同步供货选项，具体看上游供货方式，供货时间少于10秒的商品可以开启。</td>
	            </tr>		
	        </tbody>
	        <tfoot>
	            <tr>
	                <td colspan="4">
	                    <input class="btn btn-inverse" id="find" type="submit" value="新增" />
	                    <input class="btn btn-inverse" type="button" onclick="javascript:window.location.href='queryItem.do?bizId=$!bizId'" value="取消" />
					</td>
	            </tr>
	        </tfoot>
	    </table>
	</form>
	<script>
		jQuery(document).ready(function(){
			if(jQuery('#salesAreaType').val()==2){
				jQuery("#areaList").show();
			}
			jQuery('#salesAreaType').bind('change',function(){
				if(this.value==2){
					jQuery("#areaList").show();
				}else{
					jQuery("#areaList").hide();
				}
			});
		});
	</script>
</body>
</html>
