<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <title></title>
    #parse("common/common.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
</head>
<body>
<div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>备注</div>
<form action="bizOrderDeal.do?type=rem&bizOrderId=$!bizOrder.id" method="post" id="from">
    <table class="table-striped table-bordered table-condensed list">
        <thead>
        <tr>
            <td colspan="4"><b>备注详情</b></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td width="100">订单号</td>
            <td width="450">$!bizOrder.id</td>
            <td width="100">支付单号</td>
            <td width="450">$!bizOrder.payOrderId</td>
        </tr>
        <tr>
            <td width="100">代理商</td>  <td width="450"> $!bizOrder.downstreamName</td>
            <td width="100">商品</td><td width="450">$!bizOrder.itemName</td>
        </tr>
        <tr>
            <td width="100">处理人</td> <td width="450">$!bizOrder.dealOperName</td>
            <td width="100">备注</td>
            <td  width="">
                <input type="text" id="memo" name="memo" value="$!bizOrder.memo"><br>
                30个字以内
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="4">
                <input type="button" value="添加" id="btn" onclick="checkUser()"class="btn btn-inverse">
                <input type="button" name="close" value="取消" onclick="window.close()"class="btn btn-inverse"/>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
<script type="text/javascript">
    function  checkUser() {
        var memo=document.getElementById("memo").value;
        if (memo.length>30) {
            alert("备注长度过长，请在30个字符以内")
        }else {
            document.getElementById("from").submit();
        }

    }
</script>
</body>
</html>