<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
</head>
<body>
	<div class="alert alert-info">当前位置<b class="tip"></b>号码核验<b class="tip"></b>查询结果</div>
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
            <tr>
                <td colspan="4"><b>查询结果：</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>查询结果:</td>
                <td colspan="3">#if($!result && $!result.isSuccess()) 查询成功  #else 查询失败 #end</td>
            </tr>
            <tr>
                <td>查询信息:</td>
                <td colspan="3">#if($!result && $!result.isSuccess()) $!result.getModule()  #else $!result.getResultMsg()#end</td>
            </tr>			
        </tbody>
    </table>
</body>
</html>
