<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/pagination.vm")
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="/css/doubleDate.css" />
    <script type="text/javascript" src="/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="/js/tip.js"></script>
	<script type="text/javascript" src="/js/doubleDate2.0.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>商品查询</div>
	<form id="itemQueryForm" action="queryItem.do" method="post" onsubmit="return submitCheck();">
		<input type="hidden" name="bizId" value="$!itemQuery.bizId" />
		<input id="requestType" type="hidden" name="requestType" value="" />
##		<input type="hidden" id="hidden_SalesArea" name="salesArea" value="" />
        <table class="table table-striped table-bordered table-condensed">
            <thead>
				<tr>
                    <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
                </tr>
			</thead>
            <tbody>
				<tr>
                    <td>商品编号</td>
                    <td class="detail">
                        <input  name="id" value="$!itemQuery.id"  />
                    </td>
                    <td>商品名称</td>
                    <td class="td_detail">
                        <input  name="itemName" value="$!itemQuery.itemName" />
					</td>
                    #if($!itemQuery.bizId != 400)
                    <td>销售区域(不支持多省域查询)
##						<input id="all_city"  type="checkbox" />全选
##						<input id="invertSelection" type="button" value="反选"/>
					</td>
                    <td id="td_input_city">
##						下拉的框的地区选项$!{velocityCount}
						 #select($!provinceList,'salesArea',$!itemQuery.salesArea)
##						#foreach($!province in $!provinceList)
##							#if ($!{velocityCount} == 15)
##								<input type="checkbox" name="salesAreas" value="$!province.provinceCode"" /><span>$!province.provinceName</span><br/>
##							#end
##							#if ($!{velocityCount} == 30)
##								<input type="checkbox" name="salesAreas" value="$!province.provinceCode"" /><span>$!province.provinceName</span><br/>
##							#end
##							#if ($!{velocityCount}!=15 && $!{velocityCount} != 30)
##								<input type="checkbox" name="salesAreas" value="$!province.provinceCode"" /><span>$!province.provinceName</span>
##							#end
##
##						#end
				    </td>
				    #end
                </tr>
                <tr>
					<td>商品面值</td>
					<td>
						<input id="itemFacePrice" name="itemFacePrice" value="$!itemQuery.getPriceDesc($!itemQuery.itemFacePrice)" /></td>
					</td>					
                    <td>商品状态 </td>
                    <td>
						#select($!statusList,'status',$!itemQuery.status)
					</td>
					<td colspan="2" />
                </tr>
                <tr>
                    <td colspan="6" align="right">
					    <a class="btn btn-inverse" onclick="javascript:query();">查询</a>
                        <input class="btn btn-inverse" type="reset" value="清空"/>
                        <a href="itemAdd.do?bizId=$!itemQuery.bizId" class="btn btn-primary add">新增商品</a>
                        <a href="itemPdd.do?requestType=batchUp&bizId=$!itemQuery.bizId" class="btn btn-primary add">拼多多上架</a>
                        <a href="itemPdd.do?requestType=batchDown&bizId=$!itemQuery.bizId" class="btn btn-primary add">拼多多下架</a>
                    </td>
                </tr>
            </tbody>
		</table>
	<table class="table table-striped table-bordered table-condensed" id="list">
		<div style="padding: 4px 6px 4px;"><input id="input_all" type="checkbox" name="" value="all"  onclick="selectAll()" />
			<a class="btn btn-danger"  onclick="javascript:batchUp();">批量上架</a>
			<a class="btn btn-danger" onclick="javascript:batchDown();">批量下架</a>
			<a class="btn btn-danger" onclick="javascript:conditionUp();">按条件上架</a>
			<a class="btn btn-danger" onclick="javascript:conditionDown();">按条件下架</a>
			<a class="btn btn-primary add" onclick="javascript:batchAdd();">批量关联供货</a>
			<a class="btn btn-primary add" onclick="javascript:conditionAdd();">条件关联供货</a>
			<a class="btn btn-danger" onclick="javascript:itemPDDBatchUp();">xxx批量上架</a>
			<a class="btn btn-danger" onclick="javascript:itemPDDBatchDown();">xxx批量下架</a>
		</div>
        <thead>
            <tr class="tr_detail">
				<td></td>
                <td>商品编号</td>
                <td>业务编号</td>
                <td>商品名称</td>
                <td>商品面值(元) </td>
				#if($!userInfo.isAdmin())
                <td>供货价格(元)</td>
                <td>价格2(元)</td>
				<td>价格3(元)</td>
				<td>价格4(元)</td>
				<td>单买价格(元)</td>
				#end
				#if($!itemQuery.bizId != 400)
				<td style="width:100px">销售区域</td>
				#end
                <td>供货状态</td>
				<td>状态</td>
				#if($!userInfo.isAdmin())
				<td>PDD状态</td>
				#end
                <td>操作 </td>
                <td>商品大小</td>
                <td>流量类型</td>
            </tr>
        </thead>
        <tbody>
			#foreach($!item in $!itemList)
			<tr>
				<td id="td_input"><input type="checkbox"  class="checkAllInput" name="" value="$!item.id"/></td>
                <td>$!item.id</td>
                <td>$!item.bizId</td>
                <td>$!item.itemName</td>
                <td>$!item.getPriceDesc($!item.itemFacePrice)</td>
				#if($!userInfo.isAdmin())
                <td>$!item.getPriceDesc($!item.itemSalesPrice)</td>
				<td>$!item.getPriceDesc($!item.itemSalesPrice2)</td>
				<td>$!item.getPriceDesc($!item.itemSalesPrice3)</td>
				<td>$!item.getPriceDesc($!item.itemSalesPrice4)</td>
                <td>
                	<font #if($!item.itemSalesPrice && $!item.itemDummyPrice && ($!item.itemSalesPrice > $!item.itemDummyPrice))color=red #end>
                		$!item.getPriceDesc($!item.itemDummyPrice)
                	</font>
                </td>
				#end
				#if($!itemQuery.bizId != 400)
				<td>
				<span class="spanID" title="$!item.itemSalesAreaDesc" style="overflow: hidden;display: block; text-overflow: ellipsis;width: 10em; white-space: nowrap;">$!item.itemSalesAreaDesc</span>
				</td>
				#end
				<td>#if($!item.associated) <font color=green>已关联</font> #else <font color=red>未关联 </font> #end</td>
                <td>
					<font #if($!item.showRed())color=red #end #if($!item.showGreen())color=green #end>
					$!item.statusDesc
					</font>
				</td>
				#if($!userInfo.isAdmin())
				<td>$!item.pddStatusDesc</td>
				#end
				<td>
					#if($!userInfo.isAdmin())
    					<a href="itemEdit.do?bizId=$!item.bizId&id=$!item.id" class="btn  btn-mini btn-primary add">修改</a>
    					#if(!$!item.isCombine())
							#if($!item.associated)
								<a href="itemSupplyAdd.do?itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary add">关联供货</a>
								<a href="queryItemSupply.do?itemId=$!item.id&bizId=$!item.bizId" target="_blank" class="btn  btn-mini btn-primary add">查看供货 </a>
							#else
							    <a href="itemSupplyAdd.do?itemId=$!item.id&bizId=$!item.bizId" class="btn  btn-mini btn-primary add">关联供货</a>
							#end
							#if($!hasCombine)
								<a href="itemDeal.do?requestType=combine&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary" onclick="return confirm('是否确认转拆分操作')">转拆分</a>
							#end
						#else
							<a href="itemDeal.do?requestType=charge&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary" onclick="return confirm('是否确认转直充操作')">转直充</a>
							<a href="itemDeal.do?requestType=card&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary" onclick="return confirm('是否确认转卡密操作')">转卡密</a>
						#end
    					#if($!item.canUp)
    					  <a href="itemDeal.do?requestType=up&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-danger" onclick="return confirm('是否确认上架操作')">上架</a>
						#end
						#if($!item.canDownOperation())
    					  <a href="itemDeal.do?requestType=down&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-danger" onclick="return confirm('是否确认下架操作')">下架</a>
    					#end
						<a href="itemPdd.do?requestType=up&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary add" onclick="return confirm('是否确认拼多多上架操作')">PDD上架</a>
						<a href="itemPdd.do?requestType=down&itemId=$!item.id&bizId=$!item.bizId" class="btn btn-mini btn-primary add" onclick="return confirm('是否确认拼多多下架操作')">PDD下架</a>
					#end
				</td>
				<td>$!item.itemSizeDesc</td>
                <td>$!item.itemRangeDesc</td>
            </tr>
			#end
			#pagination2($!itemQuery,'itemQueryForm','queryItem.do')
        </tbody>
    </table>
	</form>
	<script type="text/javascript">
		var checkInput=document.querySelectorAll('#td_input>input');
		var td_input_city = document.querySelectorAll('#td_input_city>input');
		function submitCheck(){
			var itemFacePrice = jQuery('#itemFacePrice').val();
			if(itemFacePrice.length == 0){
				return true;
			}
			if(!jQuery.isNumeric(itemFacePrice)){
				alert("金额必须是数字");
				return false;
			}
			jQuery('#itemFacePrice').val(itemFacePrice * 1000);
			return true;
		}
		
	    function query(){
			var list = "";
			for (var i =  0; i<td_input_city.length; i++) {
				if (td_input_city[i].checked) {
					if (list.length==0) {
						list = td_input_city[i].value;
					}else{
						list = list + "," + td_input_city[i].value;
					}
				}
			}
			//document.getElementById('hidden_SalesArea').value=list;
			console.log("国家地址值"+list);
		   jQuery('#itemQueryForm').attr("action", "queryItem.do");
		   jQuery('#itemQueryForm').submit();
		}
		
		function batchUp(){
			var list = getCheckBox();
			//getCheckBoxPDD();
			if(list==null || list.length==0){
				return;
			}
			window.location.href = "itemDeal.do?requestType=batchUpIndex&bizId=$!itemQuery.bizId&ids=" + list;
		}
		//pdd批量上架
		function itemPDDBatchUp() {
			if (confirm("是否批量上架")) {
				//alert("pdd进来了");
				var list = getCheckBox();
				var list2 = getCheckBoxPDD();
				if(list==null || list.length==0){
					return;
				}
				//alert("准备跳转");
				window.location.href = "itemPDDBatchUp.do?requestType=batchUp&bizId=$!itemQuery.bizId&ids=" + list + "&provinceCode=" + list2;
			}else{
				return;
			}

		}
		function itemPDDBatchDown() {
			if (confirm("是否批量下架")) {
				//alert("pdd进来了");
				var list = getCheckBox();
				var list2 = getCheckBoxPDD();
				if(list==null || list.length==0){
					return;
				}
				//alert("准备跳转");
				window.location.href = "itemPDDBatchDown.do?requestType=batchDown&bizId=$!itemQuery.bizId&ids=" + list + "&provinceCode=" + list2;
			}else{
				return;
			}
		}
		
		function batchDown(){
			var list = getCheckBox();
			if(list==null || list.length==0){
				return;
			}
			window.location.href = "itemDeal.do?requestType=batchDownIndex&bizId=$!itemQuery.bizId&ids=" + list;
		}
		
		function batchAdd(){
			var list = getCheckBox();
			if(list==null || list.length==0){
				return;
			}
			window.location.href = "itemSupplyAdd.do?requestType=batchAddIndex&bizId=$!itemQuery.bizId&ids=" + list;
		}
		
		function conditionAdd(){
		    jQuery('#itemQueryForm').attr("action", "itemSupplyAdd.do");
			jQuery('#requestType').val("conditionAddIndex");
			jQuery('#itemQueryForm').submit();
		}
		
		function conditionUp(){
			jQuery('#itemQueryForm').attr("action", "itemDeal.do");
			jQuery('#requestType').val("conditionUpIndex");
			jQuery('#itemQueryForm').submit();
		}
		
		function conditionDown(){
		   jQuery('#itemQueryForm').attr("action", "itemDeal.do");
		   jQuery('#requestType').val("conditionDownIndex");
		   jQuery('#itemQueryForm').submit();
		}
		
		function getCheckBox(){
			 var list = "";
			 	for (var i =  0; i<checkInput.length; i++) {
			 		if (checkInput[i].checked) {
			 			if (list.length==0) {
			 				list = checkInput[i].value;
						}else{
							list = list + "," + checkInput[i].value;
						}
					}
             }
			 if(list.length==0){
			    alert("必须选择一个商品");
			 	return null;
			 }
			 console.log("list值"+list);
			 return list;
		}
			
		function selectAll(){
			var a = document.querySelectorAll('#td_input>input');
			var input_all = document.getElementById("input_all");

			if (input_all.checked){
				for (var i =0;i<a.length;i++){
					if (a[i].type=='checkbox') {
						a[i].checked=true;
					}
				}
			}else{
				for (var i =0;i<a.length;i++){
					a[i].checked=false;
				}
			}
		}
		//每个input的按钮注册事件
		for (var k = 0 ; k<checkInput.length;k++) {
			checkInput[k].onclick = function() {
				//定义一个标志来记录
				var flag = true;
				//checkInput，看看是否有没选中的
				for(var j = 0; j < checkInput.length; j++) {

					if(checkInput[j].checked == false) {
						flag = false;
					}
				}
				document.getElementById("input_all").checked=flag;
			}
		}
		function getCheckBoxPDD(){
			var d = document.getElementsByClassName("spanID");
			var list2 = [];
			for (var i =  0; i<checkInput.length; i++) {
				if (checkInput[i].checked) {
					list2.push(d[i].innerText);
				}
			}
			console.log("list2的值"+list2)
			return list2.toString();
		}
		//全国的全选事件
		document.getElementById("all_city").onclick =  function () {
			if (this.checked){
				for (var i =0;i<td_input_city.length;i++){
					if (td_input_city[i].type=='checkbox') {
						td_input_city[i].checked=true;
					}
				}
			}else{
				for (var i =0;i<td_input_city.length;i++){
					td_input_city[i].checked=false;
				}
			}
		}
		//每个input的按钮注册事件
		for (var k = 0 ; k<td_input_city.length;k++) {
			td_input_city[k].onclick = function() {
				//定义一个标志来记录
				var flag = true;
				//checkInput，看看是否有没选中的
				for(var j = 0; j < td_input_city.length; j++) {

					if(td_input_city[j].checked == false) {
						flag = false;
					}
				}
				document.getElementById("all_city").checked=flag;
			}
		}
		//全国的反选
		document.getElementById('invertSelection').onclick = function () {
			console.log("反选进来了");
			for(var i=0;i<td_input_city.length;i++){
				if(td_input_city[i].checked){
					td_input_city[i].checked=false;
				}else{
					td_input_city[i].checked=true;
				}
				var flag = true;
				//checkInput，看看是否有没选中的
				for(var j = 0; j < td_input_city.length; j++) {

					if(td_input_city[j].checked == false) {
						flag = false;
					}
				}
				document.getElementById("all_city").checked=flag;
			}
		}

	</script>		 
</body>
</html>
