<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/pagination.vm")
	
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>供货商品查询</div>
	 <form id="itemSupplyQueryForm" action="queryItemSupply.do" method="post" onsubmit="return submitCheck();">
		<input type="hidden" name="bizId" value="$!itemSupplyQuery.bizId" />
		<input id="requestType" type="hidden" name="requestType" value="" />
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>供货商品编号</td>
                    <td class="detail">
                        <input  name="id" value="$!itemSupplyQuery.id"  />
                    </td>
                    <td>商品名称</td>
                    <td class="td_detail">
                        <input  name="itemName" value="$!itemSupplyQuery.itemName" />
					</td>
                    <td>商品编号</td>
                    <td class="td_detail">
                        <input  name="itemId" value="$!itemSupplyQuery.itemId" />
					</td>
                </tr>
                <tr>
					<td>商品面值</td>
					<td>
						<input id="itemFacePrice" name="itemFacePrice" value="$!itemSupplyQuery.getPriceDesc($!itemSupplyQuery.itemFacePrice)" /></td>
					</td>
                	#if($!itemSupplyQuery.bizId != 400)
                    <td>销售区域(不支持多省域查询)</td>
                    <td>
						#select($!provinceList,'salesArea',$!itemSupplyQuery.salesArea)
				    </td>
				    #else
					<td colspan="2" />
				    #end
					<td>供货商</td>
                    <td class="td_detail">
                       	#selectClassBig($!supplyTraderList,"supplyTraderId",$!itemSupplyQuery.supplyTraderId)
					</td>
                </tr>
                <tr>
					<td>商品类型</td>
					<td>
						#select($!itemTypeList,'itemType',$!itemSupplyQuery.itemType)
					</td>
					<td>库存少于等于</td>
					<td>
					   <input name="lessQuantity" value="$!itemSupplyQuery.lessQuantity" /></td>
					</td>
                    <td>供货商品状态 </td>
                    <td>
						#select($!statusList,'status',$!itemSupplyQuery.status)
					</td>
                </tr>
                <tr>				
					<td>供货类型</td>
					<td>
						#select($!supplyTypeList,'supplyType',$!itemSupplyQuery.supplyType)
					</td>
					<td>上游接口供货方式</td>
					<td>
						#select($!asyncSupplyList,'isAsyncSupply',$!itemSupplyQuery.isAsyncSupply)
					</td>
					<td colspan="2" />
                </tr>
                <tr>
                    <td colspan="6" align="right">
                        <a class="btn btn-inverse"  onclick="javascript:query();">查询</a>
                        <input class="btn btn-inverse" type="reset" value="清空"/>
                    </td>
                </tr>
            </tbody>
         </table>
	<table class="table table-striped table-bordered table-condensed" id="list">
		<div style="padding: 4px 6px 4px;"><input type="checkbox" name="" value="all"  onclick="selectAll()" />
			<a class="btn btn-danger"  onclick="javascript:batchUp();"  >批量上架</a>
			<a class="btn btn-danger" onclick="javascript:batchDown();"  >批量下架</a>
			<a class="btn btn-danger" onclick="javascript:conditionUp();"  >按条件上架</a>
			<a class="btn btn-danger" onclick="javascript:conditionDown();"  >按条件下架</a>
			<a class="btn btn-primary add" onclick="javascript:batchEdit();"  >批量修改供货</a>
			<a class="btn btn-primary add" onclick="javascript:conditionEdit();"  >条件修改供货</a>			
		</div>		
        <thead>
            <tr class="tr_detail">
				<td></td>
                <td>供货商品编号</td>
                <td>业务编号</td>
                <td>商品名称</td>
				<td>商品类型</td>
				<td>供货类型</td>
				<td>上游接口方式</td>
                <td>商品面值(元) </td>
                <td>成本价格(元)</td>
				<td>优先级</td>
				<td>供货商</td>
				<td>供货商编号</td>
                <td>库存数</td>
				<td>状态</td>
                <td>操作 </td>
            </tr>
        </thead>
        <tbody>
			
			#foreach($!itemSupply in $!itemSupplyList)
				<tr>
				<td><input type="checkbox" name="" value="$!itemSupply.id"/></td>		
                <td>$!itemSupply.id</td>
                <td>$!itemSupply.bizId</td>
                <td>
					<a href="queryItem.do?bizId=$!itemSupply.bizId&id=$!itemSupply.itemId" target="_blank">$!itemSupply.itemName</a>
				</td>
				<td>$!itemSupply.itemTypeDesc</td>
				<td>
					#if($!itemSupply.supplyTypeDesc)
						$!itemSupply.supplyTypeDesc
					#else
						<font color=red  >
							供货信息异常
                        </font>
					#end
				</td>
				<td>
					#if($!itemSupply.supplyWayDesc)
						$!itemSupply.supplyWayDesc
					#else
						<font color=red  >
							供货信息异常
                        </font>
					#end
				</td>				
                <td>$!itemSupply.getPriceDesc($!itemSupply.itemFacePrice)</td>
                <td>$!itemSupply.getPriceDesc($!itemSupply.itemCostPrice)</td>
				<td>$!itemSupply.priority</td>
				<td>$!itemSupply.supplyTraderName</td>
				<td>$!itemSupply.supplyTraderId</td>
				<td>
					#if($!itemSupply.hasStock())
						$!itemSupply.quantity
					#else
					  -
					#end	
				</td>
                <td>
					<font #if($!itemSupply.showRed())color=red #end #if($!itemSupply.showGreen())color=green #end >
					$!itemSupply.statusDesc
					</font>
				</td>
				<td>
					#if($!userInfo.isAdmin())
    					<a href="itemSupplyEdit.do?bizId=$!itemSupply.bizId&id=$!itemSupply.id" class="btn  btn-mini btn-primary add" >修改</a>
    					#if($!itemSupply.canUpOperation() && $!itemSupply.supplyTypeDesc)
    					  <a href="itemSupplyDeal.do?type=up&id=$!itemSupply.id&bizId=$!itemSupply.bizId" class="btn btn-mini btn-danger" onclick="return confirm('是否确认上架操作')">上架</a>
						#end
						#if($!itemSupply.canDownOperation())	
    					  <a href="itemSupplyDeal.do?type=down&id=$!itemSupply.id&bizId=$!itemSupply.bizId" class="btn btn-mini btn-danger" onclick="return confirm('是否确认下架操作')">下架</a>
						#end
						#if($!itemSupply.canOutStorage())
							<a class="btn btn-mini btn-danger" onclick="javascript:outStorage($!itemSupply.id,$!itemSupply.quantity)">提取库存</a>
						#end	
					#end
				</td>
            </tr>
			#end
			#pagination2($!itemSupplyQuery,'itemSupplyQueryForm','queryItemSupply.do')
        </tbody>
    </table>
	</form>
	
 <script type="text/javascript">
			function submitCheck(){
    			var itemFacePrice = jQuery('#itemFacePrice').val();
				if(itemFacePrice.length == 0){
					return true;
				}
    			if(!jQuery.isNumeric(itemFacePrice)){
    				alert("金额必须是数字");
    				return false;
    			}
    			jQuery('#itemFacePrice').val(itemFacePrice * 1000);
    			return true;
			}
			
  		    function query(){
			   jQuery('#itemSupplyQueryForm').attr("action", "queryItemSupply.do");
			   jQuery('#itemSupplyQueryForm').submit();
    		}			
			
    		function batchUp(){
				var list = getCheckBox();
				if(list==null || list.length==0){
					return;
				}
				window.location.href = "itemSupplyDeal.do?requestType=batchUpIndex&bizId=$!itemSupplyQuery.bizId&ids=" + list;
    		}
			
    		function batchDown(){
				var list = getCheckBox();
				if(list==null || list.length==0){
					return;
				}
				window.location.href = "itemSupplyDeal.do?requestType=batchDownIndex&bizId=$!itemSupplyQuery.bizId&ids=" + list;
    		}	
			
			function conditionUp(){
    			jQuery('#itemSupplyQueryForm').attr("action", "itemSupplyDeal.do");
				jQuery('#requestType').val("conditionUpIndex");
    			jQuery('#itemSupplyQueryForm').submit();	
			}
			
			function conditionDown(){
			   jQuery('#itemSupplyQueryForm').attr("action", "itemSupplyDeal.do");
			   jQuery('#requestType').val("conditionDownIndex");
			   jQuery('#itemSupplyQueryForm').submit();
			}
			
			function batchEdit(){
				var list = getCheckBox();
				if(list==null || list.length==0){
					return;
				}
				window.location.href = "itemSupplyEdit.do?requestType=batchEditIndex&bizId=$!itemSupplyQuery.bizId&ids=" + list;
			}
			
			function conditionEdit(){
			    jQuery('#itemSupplyQueryForm').attr("action", "itemSupplyEdit.do");
				jQuery('#requestType').val("conditionEditIndex");
    			jQuery('#itemSupplyQueryForm').submit();
			}
			
			
			
			function getCheckBox(){
				 var a = document.getElementsByTagName("input");
				 var list = "";
				 var count = 0;
    			 for(var i = 0;i<a.length;i++){
    			 	if(a[i].type != "checkbox") {
    					continue;
    				}
					
                  	 if(a[i].checked) {
					 	if(a[i].value=="all"){
							continue;
						}
					 	count++;
					 	if(count == 1){
							list = a[i].value; 
						}else{
							list = list + "," + a[i].value; 
						}
    					
    				 }
                 }
				 if(list.length==0){
				    alert("必须选择一个供货商品");
				 	return null;
				 }
				 return list;
			}
    			
    		function selectAll(){
                var a = document.getElementsByTagName("input");
    			 var tag = true;
    			 for(var i = 0;i<a.length;i++){
    			 	if(a[i].type != "checkbox") {
    					continue;
    				}
                  	 if(a[i].checked) {
    					 tag = false;
						 break;
    				 }else{
					 	 tag = true;
						 break;
					 }
                 }
				 
    			 for(var i = 0;i<a.length;i++){
    			 	if(a[i].type != "checkbox") {
    					continue;
    				}
                  	 if(tag) {
    					a[i].checked = false;
    				 }else{
					 	a[i].checked = true;
					 }
                 }
    		}
			
     		function outStorage(itemSupplyId,count) {
    			    var str=prompt("请输入提取库存数");
    				if(str==null){
    					return;
    				}
                    if(str)
                    {
    					if(!jQuery.isNumeric(str)){
            				alert("提取库存数必须是数字");
            				return;
    					}
						if(str > count){
						    alert("提取库存数必须小于商品库存数");
            				return;
						}
						if(str > count){
						    alert("提取库存数必须小于100000");
            				return;
						}
                        window.location.href = "stockDeal.do?type=deliveryFromStorage&itemSupplyId=" + itemSupplyId + "&count=" + str + "&bizId=$!itemSupplyQuery.bizId";
                    }else{
    					alert("必须输入提取库存数");
    					return;
    				}
            }			
      </script>		 	
</body>



</html>
