<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/select.vm")
	#parse("common/pagination.vm")
	#parse("common/common.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	<script type="text/javascript" src="$!staticServer/js/jquery.cookie.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>$!bizName<b class="tip"></b>下载导出订单</div>
	 <form id="bizOrderExportForm" action="queryBizOrderExport.do" method="post" onsubmit="return submitCheck();" >
		<input type="hidden" name="bizId" value="$!exportQuery.bizId" />
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td colspan="6" class="auto-style2">&nbsp;请填写查询条件 </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>导出日期 </td>
                    <td>
                        <div class="input-append">
							<input class="input-small doubledate" readonly="readonly" size="10" type="text" name="startGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!exportQuery.startGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>至<input id="endtime" class="input-small doubledate" readonly="readonly" type="text" name="endGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!exportQuery.endGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>
                        </div>
                    </td>
                    <td>商品</td>
                    <td>
						#selectClassMedium($!itemList,'itemId',$!exportQuery.itemId)
                    </td>
                    <td>导出状态 </td>
                    <td>
						#select($!statusList,'status',$!exportQuery.status)
					</td>
                </tr>
                <tr>
					#if($!userInfo.isAdminOrPartner())
                    <td>代理商</td>
                    <td>
						#selectClassMedium($!downStreamUser,'downstreamId',$!exportQuery.downstreamId)
					</td>
                    <td colspan="4" class="auto-style2"></td>
					#end
                </tr>
                <tr>
                    <td  colspan="6" align="right">
                        <a class="btn btn-inverse"  onclick="javascript:query();">查询</a>
                        <input class="btn btn-inverse"  type="reset" value="清空" />
					</td>
                </tr>
            </tbody>
         </table>

	<table class="table table-striped table-bordered table-condensed" id="list">
        <thead>
            <tr class="tr_detail">
            	<td>编号</td>
                <td>开始日期</td>
				<td>结束日期</td>
                <td>商品</td>
                <td>状态</td>
                <td>导出时间</td>
                <td>导出时长</td>
                #if($!userInfo.isAdminOrPartner())
                <td>代理商</td>
                <td>上游供货商</td>
			    #end
			    <td>操作</td>
            </tr>
        </thead>
        <tbody>
			#foreach($!export in $!exportList)
				<tr>
                <td>$!export.id</td>
				<td>$!dateTool.format("yyyy-MM-dd", $!export.dateStart)</td>
				<td>$!dateTool.format("yyyy-MM-dd", $!export.dateEnd)</td>
				<td>$!export.itemName</td>
                <td>$!export.statusDesc</td>
                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!export.gmtCreate)</td>
                <td>$!export.costTimeDesc</td>
                #if($!userInfo.isAdminOrPartner())
				<td>$!export.downstreamName</td>
				<td>$!export.upstreamName</td>			
				#end
				<td>
					#if($!export.canDownload())
    					<a href="$!domainServer/admin/downloadExportFile.do?id=$!export.id" class="btn btn-mini btn-primary add">下载</a>
					#end
					#if($!export.canDelete())
    					<a href="$!domainServer/admin/deleteExportFile.do?id=$!export.id" class="btn btn-mini btn-primary add" onclick="return confirm('是否确定删除')">删除</a>
					#end
				</td>
            </tr>
			#end
			
			#pagination2($!exportQuery,'bizOrderExportForm','queryBizOrderExport.do')
        </tbody>
    </table>
	</form>
	 
	<script type="text/javascript">
    	$(function(){
	    	$('.doubledate').kuiDate({
	    		className:'doubledate',
	    		isDisabled: "1"
	    	});
    	});
    	
    	function query(){
			jQuery('#bizOrderExportForm').attr("action", "queryBizOrderExport.do");
			jQuery('#bizOrderExportForm').submit();
		}
		
        function submitCheck(){
        	if(!checkDate()){
    			return false;
    		}
        	return true;
        }
		
        var checkDate = function(){
        	var start_date =  jQuery("input[name='startGmtCreate']").val();
        	var end_date = jQuery("input[name='endGmtCreate']").val();
        	var objDate=new Date();
        	var year = objDate.getFullYear();
        	var month = objDate.getMonth() + 1;
        	var day = objDate.getDate();
        	month = month>=10?month:'0'+month;
        	day = day>=10?day:'0'+day;
        	var date = year + "-" + month + "-" + day;
        	
        	if(!compareDate(start_date, date)){
        		alert("起始日期不能大于当前日期！");
        		return false;
        	}
        	if(!compareDate(end_date, date)){
        		alert("终止日期不能大于当前日期！");
        		return false;
        	}
        	
        	if(!compareDate(start_date, end_date))
        	{
        		alert("起始日期不能大于终止日期!");
        		return false;
        	}
        	var beginTime=new Date(Date.parse(start_date.replace(/-/g, "/")));
        	var endTime=new Date(Date.parse(end_date.replace(/-/g, "/"))); 
        	var onemonthe=2*30*24*60*60*1000;
        	
        	if((endTime-beginTime)>onemonthe)
        	{
        		alert("只能查二个月之内的记录!");
        		return false;
        	}	
        	return true; 
   	 	}
    
        function compareDate(date1, date2){
        	year1 = date1.substring(0,date1.indexOf("-"));
            year2 = date2.substring(0,date2.indexOf("-"));
            month1 = date1.substring(date1.indexOf("-") + 1,date1.lastIndexOf("-"));
            month2 = date2.substring(date2.indexOf("-") + 1,date2.lastIndexOf("-"));
            day1 = date1.substring(date1.lastIndexOf("-") + 1);
            day2 = date2.substring(date2.lastIndexOf("-") + 1);
            
            if(year1 > year2){
                return false;
            } else if(year1 < year2){
            	return true;
            } else if(month1 > month2){
                return false;
            } else if(month1 < month2){
            	return true;
            } else if(day1 > day2){
                return false;
            } else if(day1 < day2){
            	return true;
            }
            return true;
        }
    </script>
</body>
</html>
