<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>鼎驰科技</title>
	#parse("common/common.vm")
	#parse("common/errorUtils.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>用户管理<b class="tip"></b>爬网管理</div>
	<table class="table table-striped table-bordered table-condensed" id="list">
		<thead>
			<tr class="tr_detail">
				<td>用户编号</td>
				<td>用户名</td>
                <td>状态</td>
				<td>操作</td>
			</tr>
		</thead>
		<tbody>
			<tr><td colspan="4">云南联通</td></tr>
			<tr>
                <td>450</td><td>云南联通话费一</td><td>$!ynltStatus[0]</td><td>
				#if($!ynltStatus[0]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=1&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[0]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(1,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费二</td><td>$!ynltStatus[1]</td><td>
				#if($!ynltStatus[1]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=2&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[1]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(2,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费三</td><td>$!ynltStatus[2]</td><td>
				#if($!ynltStatus[2]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=3&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[2]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(3,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费四</td><td>$!ynltStatus[3]</td><td>
				#if($!ynltStatus[3]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=4&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[3]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(4,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费五</td><td>$!ynltStatus[4]</td><td>
				#if($!ynltStatus[4]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=5&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[4]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(5,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费六</td><td>$!ynltStatus[5]</td><td>
				#if($!ynltStatus[5]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=6&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[5]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(6,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费七</td><td>$!ynltStatus[6]</td><td>
				#if($!ynltStatus[6]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=7&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[6]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(7,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费八</td><td>$!ynltStatus[7]</td><td>
				#if($!ynltStatus[7]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=8&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[7]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(8,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费九</td><td>$!ynltStatus[8]</td><td>
				#if($!ynltStatus[8]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=9&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[8]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(9,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>450</td><td>云南联通话费十</td><td>$!ynltStatus[9]</td><td>
				#if($!ynltStatus[9]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=10&area=3" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!ynltStatus[9]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(10,3);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
				#if($!ynltStatus[9]=="爬网中")
					<td colspan="2">&nbsp;</td>
					<td><a href="httpDeal.do?requestType=logout&area=3" class="btn btn-mini btn-danger">全停止</a></td>
					<td>&nbsp;</td>
				#else
					<td colspan="4">&nbsp;</td>
				#end
			</tr>
			<tr><td colspan="4">中山移动</td></tr>
			<tr>
                <td>386</td><td>中山移动话费一</td><td>$!zsydStatus[0]</td><td>
				#if($!zsydStatus[0]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=1&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[0]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(1,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费二</td><td>$!zsydStatus[1]</td><td>
				#if($!zsydStatus[1]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=2&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[1]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(2,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费三</td><td>$!zsydStatus[2]</td><td>
				#if($!zsydStatus[2]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=3&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[2]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(3,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费四</td><td>$!zsydStatus[3]</td><td>
				#if($!zsydStatus[3]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=4&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[3]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(4,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费五</td><td>$!zsydStatus[4]</td><td>
				#if($!zsydStatus[4]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=5&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[4]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(5,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费六</td><td>$!zsydStatus[5]</td><td>
				#if($!zsydStatus[5]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=6&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[5]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(6,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费七</td><td>$!zsydStatus[6]</td><td>
				#if($!zsydStatus[6]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=7&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[6]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(7,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费八</td><td>$!zsydStatus[7]</td><td>
				#if($!zsydStatus[7]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=8&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[7]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(8,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费九</td><td>$!zsydStatus[8]</td><td>
				#if($!zsydStatus[8]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=9&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[8]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(9,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>386</td><td>中山移动话费十</td><td>$!zsydStatus[9]</td><td>
				#if($!zsydStatus[9]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=10&area=1" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!zsydStatus[9]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(10,1);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
				#if($!zsydStatus[9]=="爬网中")
					<td colspan="2">&nbsp;</td>
					<td><a href="httpDeal.do?requestType=logout&area=1" class="btn btn-mini btn-danger">全停止</a></td>
					<td>&nbsp;</td>
				#else
					<td colspan="4">&nbsp;</td>
				#end
			</tr>
			<tr><td colspan="4">宁夏移动</td></tr>
			<tr>
                <td>402</td><td>宁夏移动话费一</td><td>$!wzydStatus[0]</td><td>
				#if($!wzydStatus[0]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=1&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[0]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(1,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费二</td><td>$!wzydStatus[1]</td><td>
				#if($!wzydStatus[1]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=2&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[1]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(2,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费三</td><td>$!wzydStatus[2]</td><td>
				#if($!wzydStatus[2]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=3&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[2]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(3,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费四</td><td>$!wzydStatus[3]</td><td>
				#if($!wzydStatus[3]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=4&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[3]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(4,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费五</td><td>$!wzydStatus[4]</td><td>
				#if($!wzydStatus[4]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=5&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[4]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(5,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费六</td><td>$!wzydStatus[5]</td><td>
				#if($!wzydStatus[5]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=6&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[5]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(6,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费七</td><td>$!wzydStatus[6]</td><td>
				#if($!wzydStatus[6]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=7&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[6]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(7,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费八</td><td>$!wzydStatus[7]</td><td>
				#if($!wzydStatus[7]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=8&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[7]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(8,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费九</td><td>$!wzydStatus[8]</td><td>
				#if($!wzydStatus[8]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=9&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[8]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(9,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
                <td>402</td><td>宁夏移动话费十</td><td>$!wzydStatus[9]</td><td>
				#if($!wzydStatus[9]=="已停止")
					<a href="httpDeal.do?requestType=index&pos=10&area=2" class="btn btn-mini btn-primary add">开始</a>
				#end
				#if($!wzydStatus[9]=="爬网中")
					<input type="button" id="getBalance" onclick="javascript:getBalance(10,2);" value="余额"/>
				#end
				</td>
			</tr>
			<tr>
				#if($!wzydStatus[9]=="爬网中")
					<td colspan="2">&nbsp;</td>
					<td><a href="httpDeal.do?requestType=logout&area=2" class="btn btn-mini btn-danger">全停止</a></td>
					<td>&nbsp;</td>
				#else
					<td colspan="4">&nbsp;</td>
				#end
			</tr>
			<tr>
				<td colspan="2">缓存检查：
					<input type="button" onclick="javascript:initCount();" value="号码核验"/>
					<input type="button" onclick="javascript:pddToken();" value="拼多多"/>
					<input type="button" onclick="javascript:sxydToken();" value="陕西移动"/>
				</td>
				<td colspan="2">缓存检查：
					<input type="password" id="cacheCheck" name="cacheCheck" />
				</td>
			</tr>
			<tr>
				<td colspan="4">增加核验：
					<input type="text" id="icount" name="icount" value="1" />
					<input type="button" onclick="javascript:incCount();" value="增加"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">减少核验：
					<input type="text" id="dcount" name="dcount" value="1" />
					<input type="button" onclick="javascript:decCount();" value="减少"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">拼多多：
					<input type="text" id="accessToken" name="accessToken" value="" />
					<input type="text" id="refreshToken" name="refreshToken"  value="" />
					<input type="button" onclick="javascript:setPddToken();" value="设置"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">短信测试：
					<input type="text" id="smsMobile" name="smsMobile" value="" />
					<input type="text" id="smsText" name="smsText"  value="【充值提醒】尊敬的客户：您已成功充值话费10元。" />
					<input type="password" id="smsCheck" name="smsCheck" />
					<input type="button" onclick="javascript:sendSmsTest();" value="发送"/>
				</td>
			</tr>
		</tbody>
    </table>
    <script type="text/javascript">
    function getBalance(pos,area){
		htmlobj=$.ajax({url:"httpDeal.do?requestType=balance&pos="+pos+"&area="+area,data:"",async:false});
		var response = JSON.parse(htmlobj.responseText);
		if(response.status == "success"){
			alert(response.module);
		}else{
			alert(response.errorMsg);
		}
    }
    
	function showResponseTip(html){
    	var response = JSON.parse(html.responseText);
		if(response.status == "success"){
			alert(response.module);
		}else{
			alert(response.errorMsg);
		}
    }
    function initCount(){
		htmlobj=$.ajax({url:"httpDeal.do?requestType=cachedInit",data:"",async:false});
		showResponseTip(htmlobj);
    }
    function incCount(){
        var data = "cacheCheck="+$("#cacheCheck").val()+"&icount="+$("#icount").val();
		htmlobj=$.ajax({url:"httpDeal.do?requestType=cachedInc",data:data,async:false});
		showResponseTip(htmlobj);
    }
    function decCount(){
   	 var data = "cacheCheck="+$("#cacheCheck").val()+"&dcount="+$("#dcount").val();
		htmlobj=$.ajax({url:"httpDeal.do?requestType=cachedDec",data:data,async:false});
		showResponseTip(htmlobj);
    }
    function pddToken(){
    	var cacheCheck = $("#cacheCheck").val();
		htmlobj=$.ajax({url:"httpDeal.do?requestType=cachedPdd",data:"cacheCheck="+cacheCheck,async:false});
		showResponseTip(htmlobj);
    }
    function sxydToken(){
    	var cacheCheck = $("#cacheCheck").val();
		htmlobj=$.ajax({url:"httpDeal.do?requestType=cachedSxyd",data:"cacheCheck="+cacheCheck,async:false});
		showResponseTip(htmlobj);
    }
    function setPddToken(){
    	var cacheCheck = $("#cacheCheck").val();
		var accessToken = $("#accessToken").val();
    	var refreshToken = $("#refreshToken").val();
    	var data = "cacheCheck="+cacheCheck+"&accessToken="+accessToken+"&refreshToken="+refreshToken;
		htmlobj=$.ajax({url:"httpDeal.do?requestType=setPddToken",data:data,async:false});
		showResponseTip(htmlobj);
    }
    function sendSmsTest(){
    	var smsCheck = $("#smsCheck").val();
		var smsMobile = $("#smsMobile").val();
    	var smsText = $("#smsText").val();
    	var data = "smsCheck="+smsCheck+"&smsMobile="+smsMobile+"&smsText="+smsText;
		htmlobj=$.ajax({url:"httpDeal.do?requestType=smsTest",type:"post",data:data,async:false});
		showResponseTip(htmlobj);
    }
    </script>
</body>
</html>