   #macro( getErrorMessage $errorList $field)
         #set($errors = $!errorList)
		 #if($errors)
			#foreach($e in $errors)
				#if($!field == $e.field)
                    <font color="#FF0000">${e.defaultMessage}</font>
				#end
			#end
		 #end
   #end
   
   #macro( getErrorMessageByForm $objectName $field)
         #set($errors = $springMacroRequestContext.getErrors($objectName))
		 #if($errors && $errors.fieldErrors && $errors.fieldErrors.size()>0)
			#foreach($e in $errors.fieldErrors)
				#if($!field == $e.field)
					${e.defaultMessage}
				#end
			#end
		 #end
   #end