<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
	#parse("common/common.vm")
	#parse("common/errorUtils.vm")
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
	<script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
	<script type="text/javascript" src="$!staticServer/js/tip.js"></script>
</head>
<body>
	$!errorMsg
	<div class="alert alert-info">当前位置<b class="tip"></b>系统管理<b class="tip"></b>定期维护</div>
	<form id="chargeForm" action="gotoTarget.do?requestType=charge" method="post" onsubmit="return chargeCheck();">
	<table class="table table-striped table-bordered table-condensed list">
		<thead><tr><td colspan="4"><b>金额设定</b></td></tr></thead>
		<tbody>
			<tr>
				<td width="100">下游<font color="#FF0000">*</font></td>
				<td width="450">
					<select id="userId" name="userId" class="input-medium">
						<option value="0">选择</option>
						<option value="323">上海苏源</option>
						<option value="322">杭州圣密夕</option>
					</select>
					#getErrorMessage($errorList,"userId")
				</td>
				<td width="100">进度</td>
				<td width="450">
					#if($!running)<font color="#FF0000"> 正在运行中、禁止运行 </font>#else<font color="#0000FF"> 已完成、可运行 </font>#end
				</td>
			</tr>
			<tr>
				<td width="100">日期<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="chargeDate" name="chargeDate" value="$!chargeForm.chargeDate" />
					#getErrorMessage($errorList,"chargeDate")
				</td>
				<td width="100">时间<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="chargeTime" name="chargeTime" value="$!chargeForm.chargeTime" />
					#getErrorMessage($errorList,"chargeTime")
				</td>
			</tr>
			<tr>
				<td width="100">金额<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="chargeAmount" name="chargeAmount" value="$!chargeForm.chargeAmount" />
					#getErrorMessage($errorList,"chargeAmount")
				</td>
				<td colspan=2></td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<input type="submit" value="充值" class="btn btn-inverse" #if($!running) disabled="disabled" #end />
				</td>
			</tr>
		</tfoot>
	</table>
</form>
<form id="orderForm" action="gotoTarget.do?requestType=order" method="post" onsubmit="return orderCheck();">
	<table class="table table-striped table-bordered table-condensed list">
		<thead><tr><td colspan="4"><b>订单运行</b></td></tr></thead>
		<tbody>
			<tr>
				<td width="100">下游<font color="#FF0000">*</font></td>
				<td width="450">
					<select id="userId" name="userId" class="input-medium">
						<option value="0">选择</option>
						<option value="323">上海苏源</option>
						<option value="322">杭州圣密夕</option>
					</select>
					#getErrorMessage($errorList,"userId")
				</td>
				<td width="100">进度</td>
				<td width="450">
					#if($!running)<font color="#FF0000"> 正在运行中、禁止运行 </font>#else<font color="#0000FF"> 已完成、可运行 </font>#end
				</td>
			</tr>
			<tr>
				<td width="100">日期<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="orderDate" name="orderDate" value="$!orderForm.orderDate" />
					#getErrorMessage($errorList,"orderDate")
				</td>
				<td width="100">时间<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="orderTime" name="orderTime" value="$!orderForm.orderTime" />
					#getErrorMessage($errorList,"orderTime")
				</td>
			</tr>
			<tr>
				<td width="100">移动10元<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="item10" name="item10" value="$!orderForm.item10" />
					#getErrorMessage($errorList,"item10")
				</td>
				<td width="100">移动20元</td>
				<td width="450">
					<input type="text" id="item20" name="item20" value="$!orderForm.item20" />
					#getErrorMessage($errorList,"item20")
				</td>
			</tr>
			<tr>
				<td width="100">移动30元<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="item30" name="item30" value="$!orderForm.item30" />
					#getErrorMessage($errorList,"item30")
				</td>
				<td width="100">移动50元</td>
				<td width="450">
					<input type="text" id="item50" name="item50" value="$!orderForm.item50" />
					#getErrorMessage($errorList,"item50")
				</td>
			</tr>
			<tr>
				<td width="100">移动100元<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="item100" name="item100" value="$!orderForm.item100" />
					#getErrorMessage($errorList,"item100")
				</td>
				<td width="100">移动200元</td>
				<td width="450">
					<input type="text" id="item200" name="item200" value="$!orderForm.item200" />
					#getErrorMessage($errorList,"item200")
				</td>
			</tr>
			<tr>
				<td width="100">移动300元<font color="#FF0000">*</font></td>
				<td width="450">
					<input type="text" id="item300" name="item300" value="$!orderForm.item300" />
					#getErrorMessage($errorList,"item300")
				</td>
				<td width="100">移动500元</td>
				<td width="450">
					<input type="text" id="item500" name="item500" value="$!orderForm.item500" />
					#getErrorMessage($errorList,"item500")
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4">
					<input type="submit" value="运行" class="btn btn-inverse" #if($!running) disabled="disabled" #end />
				</td>
			</tr>
		</tfoot>
	</table>
</form>
<script type="text/javascript">
function chargeCheck(){
	return true;
}

function orderCheck(){
	return true;
}
</script>
</body>
</html>
