<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/common.vm")
	#parse("common/select.vm")
	#parse("common/errorUtils.vm")
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	
</head>
<body>
	$!errorMsg
	 <div class="alert alert-info">当前位置<b class="tip"></b>系统管理<b class="tip"></b>操作信息修改</div>
<form id="form" action="operationInfoEdit.do" method="post" >
	<input type="hidden" name="id" value="$!operationInfo.id"/>
	
    <table class="table table-striped table-bordered table-condensed list">
        <thead>
                <tr>
                    <td colspan="8" class="auto-style2"><b>操作基本信息</b></td>
                </tr>
            </thead>
        <tbody>
            <tr>
                <td width="100">菜单编号</td>
                <td width="">
				   <input type="text" name="operationCode"  size="20" value="$!operationInfo.operationCode">
						 #getErrorMessage($errorList,"operationCode")
				</td>
                <td width="100">操作名称<font color="#FF0000"> *</font></td>
                <td width="">
					<input type="text" name="operationName"  size="20" value="$!operationInfo.operationName">
						 #getErrorMessage($errorList,"operationName")
                </td>
                <td width="100">类型<font color="#FF0000"> *</font></td>
                <td width="">
					#select($typeList,"type",$!operationInfo.type)
					#getErrorMessage($errorList,"type")
				</td>				
            </tr>
            <tr>
                <td width="100">操作url</td>
                <td width="">
					<input type="text" name="operationUrl"  size="20" value="$!operationInfo.operationUrl">
						 #getErrorMessage($errorList,"operationUrl")
                </td>
                <td width="100">业务编号</td>
                <td width="">
					<input type="text" name="bizId"  size="20" value="$!operationInfo.bizId">
						#getErrorMessage($errorList,"bizId")
				</td>
				<td width="100">状态<font color="#FF0000"> *</font></td>
				<td width="">
					#select($statusList,"status",$!operationInfo.status)
					#getErrorMessage($errorList,"status")
				</td>
            </tr>	
            <tr>
				<td width="100">归属菜单</td>
				<td width="">
					#selectClassMedium($firstMenuList,"belongMenu",$!operationInfo.belongMenu)
					#getErrorMessage($errorList,"belongMenu")
				</td>
				<td></td><td></td><td></td><td></td>
            </tr>	
        </tbody>
        <tfoot>
            <tr>
                <td colspan="8">
                    <input class="btn btn-inverse" id="find" type="submit" value="保存" />
                    <input class="btn btn-inverse" type="button" onclick="javascript:window.location.href='queryOperationInfo.do'" value="取消" /></td>
            </tr>
        </tfoot>		
    </table>
</form>	
</body>
</html>
