<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
	#parse("common/select.vm")
	#parse("common/pagination.vm")
	#parse("common/common.vm")
	
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/admin-all.css" />
	<link rel="stylesheet" type="text/css" href="$!staticServer/css/doubleDate.css" />
    <script type="text/javascript" src="$!staticServer/js/jquery-1.7.2.js"></script>
    <script type="text/javascript" src="$!staticServer/js/jquery-ui-1.8.22.custom.min.js"></script>
    <link rel="stylesheet" type="text/css" href="$!staticServer/css/ui-lightness/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="$!staticServer/js/tip.js"></script>
	<script type="text/javascript" src="$!staticServer/js/doubleDate2.0.js"></script>
	<script type="text/javascript" src="$!staticServer/js/jquery.cookie.js"></script>
	
</head>
<body>
	$!errorMsg
    <div></div>
    <div class="alert alert-info">当前位置<b class="tip"></b>上游供货<b class="tip"></b>供货状态查询</div>
	 <form id="checkChargeQueryForm" action="checkChargeQueryList.do" method="post" onsubmit="return submitCheck();" >
	 	<input type="hidden" name="supplyTraderId" value="$!supplyTraderId" />
        <table class="table table-striped table-bordered table-condensed">
            <thead>
                <tr>
                    <td colspan="14" class="auto-style2">&nbsp;请填写查询条件 </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>充值状态 </td>
                    <td>
						#select($!upstreamStatusList,'upstreamStatus',$!supplyOrderQuery.upstreamStatus)
					</td>
					<td>供货单号</td>
                    <td class="td_detail">
                        <input class="input-small" name="id" value="$!supplyOrderQuery.id"  />
                    </td>
                    <td>客户手机号</td>
                    <td class="td_detail">
                        <input class="input-small" name="itemUid" value="$!supplyOrderQuery.itemUid" />
					</td>
					<td>供货单日期 </td>
                    <td>
                    	<div class="input-append">
							<input class="input-small doubledate" readonly="readonly" size="10" type="text" name="startGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!supplyOrderQuery.startGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>至<input id="endtime" class="input-small doubledate" readonly="readonly" type="text" name="endGmtCreate" value="$!dateTool.format("yyyy-MM-dd", $!supplyOrderQuery.endGmtCreate)" /><span class="add-on"><i class="icon-calendar"></i></span>
                    	</div>
					</td>
                </tr>
                <tr>
                    <td  colspan="10" align="right">
                        <a class="btn btn-inverse" onclick="javascript:query();">查询</a>
					</td>
                </tr>
            </tbody>
         </table>

	<table class="table table-striped table-bordered table-condensed" id="list">
        <thead>
            <tr class="tr_detail">
                <td>供货单号 </td>
				<td>订单号 </td>
				<td>上游流水号 </td>
                <td>客户手机号</td>
                <td>手机区域</td>
                <td>商品</td>
                <td>交易金额 </td>
                <td>创建时间 </td>
                <td>供货时长</td>
                <td>供货状态 </td>
    			<td>供货摘要</td>
            </tr>
        </thead>
        <tbody>
			#foreach($!supplyOrder in $!supplyOrderList)
				<tr>
                <td>$!supplyOrder.id</td>
				<td>$!supplyOrder.bizOrderId</td>
				<td>$!supplyOrder.upstreamSerialno</td>
                <td>$!supplyOrder.itemUid</td>
                <td>$!supplyOrder.uidAreaInfo</td>
                <td>$!supplyOrder.itemName</td>
                <td>$!supplyOrder.amountDesc</td>
                <td>$!dateTool.format("yyyy-MM-dd HH:mm:ss", $!supplyOrder.gmtCreate)</td>
				<td>$!supplyOrder.supplyCostTimeDesc</td>
				<td>$!supplyOrder.upstreamStatus</td>
    			<td>$!supplyOrder.upstreamMemo</td>
            </tr>
			#end
			#pagination2($!supplyOrderQuery,'checkChargeQueryForm','checkChargeQueryList.do')
        </tbody>
    </table>
	
	</form>
	 
	<script type="text/javascript">
    	$(function(){
    	$('.doubledate').kuiDate({
    		className:'doubledate',
    		isDisabled: "1"
    	});
    	});
		
        function submitCheck()
        {
        	if(!checkDate()){
    			return false;
    		}
        	return true;
        }
		
		
        var checkDate = function()
        {
        	var start_date =  jQuery("input[name='startGmtCreate']").val();
        	var end_date = jQuery("input[name='endGmtCreate']").val();
        	var objDate=new Date();
        	var year = objDate.getFullYear();
        	var month = objDate.getMonth() + 1;
        	var day = objDate.getDate();
        	month = month>=10?month:'0'+month;
        	day = day>=10?day:'0'+day;
        	var date = year + "-" + month + "-" + day;
        	
        	if(!compareDate(start_date, date)){
        		alert("起始日期不能大于当前日期！");
        		return false;
        	}
        	if(!compareDate(end_date, date)){
        		alert("终止日期不能大于当前日期！");
        		return false;
        	}
        	
        	if(!compareDate(start_date, end_date))
        	{
        		alert("起始日期不能大于终止日期!");
        		return false;
        	}
        	var  beginTime   =   new   Date(Date.parse(start_date.replace(/-/g,   "/")));
        	var  endTime   =   new   Date(Date.parse(end_date.replace(/-/g,   "/"))); 
        	var onemonthe=7*24*60*60*1000;
        	
        	if((endTime-beginTime)>onemonthe)
        	{
        		alert("只能查七天之内的记录!");
        		return false;
        	}
        	return true;
   	 	}
    
        function compareDate(date1, date2){
        	year1 = date1.substring(0,date1.indexOf("-"));
            year2 = date2.substring(0,date2.indexOf("-"));
            month1 = date1.substring(date1.indexOf("-") + 1,date1.lastIndexOf("-"));
            month2 = date2.substring(date2.indexOf("-") + 1,date2.lastIndexOf("-"));
            day1 = date1.substring(date1.lastIndexOf("-") + 1);
            day2 = date2.substring(date2.lastIndexOf("-") + 1);
            
            if(year1 > year2){
                return false;
            } else if(year1 < year2){
            	return true;
            } else if(month1 > month2){
                return false;
            } else if(month1 < month2){
            	return true;
            } else if(day1 > day2){
                return false;
            } else if(day1 < day2){
            	return true;
            }
            return true;
        }
		
		function query(){
			jQuery('#checkChargeQueryForm').attr("action", "checkChargeQueryList.do");
			jQuery('#checkChargeQueryForm').submit();
		}
    </script>
</body>
</html>
